.archive-news {
    &.l-main-content {
        padding: 0 60px 0;
        @include media-sp {
            padding: 30px 15px 0;
        }
    }
    dl {
        display: flex;
        padding: 14px 0;
        border-bottom: solid 1.5px $sub-color;
        &:first-of-type {
            border-top: solid 1.5px $sub-color;
        }
        @include media-sp {
            flex-direction: column;
        }
        dt {
            padding: 0 84px 0 14px;
            font-size: 1.4rem;
        }
        dd {
            font-size: 1.4rem;
            @include media-sp {
                padding: 0 0 0 14px;
            }
            a {
                color: $main-color;
                @include media-pc {
                    transition: all ease-in-out 0.3s;
                    &:hover {
                        opacity: 0.6;
                    }
                }
            }
        }
    }
}