.l-footer {
    &-wrapper{//l-footer-wrapper
        margin: 130px 0 0;
        padding: 10px 0;
        background-color: $main-color;
        @include media-sp {
            margin: 70px 0 0;
        }
        p{
            color: $base-color;
            font-size: 1.0rem;
            text-align: center;
        }
    }
}