.l-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 960px;
    min-height: 270px;
    margin: 0 auto;
    padding: 0 70px;
    @include media-sp {
        flex-direction: column;
        justify-content:center;
        min-height: 100px;
    }
    &-logo {//l-header-logo
        img {
            max-width: 100%;
        }
        a {
            display: block;
        }
    }
    &-items {//l-header-items
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 315px;
    }
    &-item {//l-header-item
        &.ico-sns{
            width: 20px;
            img{
                width: 100%;
                height: auto;
                @include media-sp {
                    font-size: 1.2rem;
                }
            }
        }
        a{
            color: $main-color;
            transition: all ease-in-out 0.3s;
            &:hover{
                opacity: 0.5;
            }
            @include media-sp {
                font-size: 1.2rem;
            }
        }
    }
}