.l-header {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 960px;
    min-height: 270px;
    margin: 0 auto;
    @include media-sp {
        min-height: 100px;
    }

    &-wrapper{//l-header-wrapper
        display: flex;
        justify-content: space-between;
        width: 960px;
        padding:  0 70px;
        @include media-sp {
            flex-direction: column;
            align-items: center;
            padding: 0;
        }
    }
    &-logo {//l-header-logo
        width: 120px;
        &:hover{
            opacity: 0.5;
        }
    }
    &-menu {//l-header-menu
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 315px;
        &-item {
            figure{
                width: 20px;
                img{
                    width: 100%;
                    height: auto;
                    @include media-sp {
                        font-size: 1.2rem;
                    }
                }
            }
            a{
                color: $main-color;
                &:hover{
                    opacity: 0.5;
                }
                @include media-sp {
                    font-size: 1.2rem;
                }
            }
        }
    }
}