.btn-more {
    display: block;
    margin: 50px auto 0;
    font-size: 1.4rem;
    color: $main-color;
    text-align: center;
    text-decoration: underline;
    @include media-pc {
        transition: all ease-in-out 0.3s;
        &:hover {
            opacity: 0.6;
        }
    }
}
.btn-prev {
    display: block;
    margin: 50px auto 0;
    font-size: 1.4rem;
    color: $main-color;
    text-align: center;
    text-decoration: underline;
    @include media-pc {
        transition: all ease-in-out 0.3s;
        &:hover {
            opacity: 0.6;
        }
    }
}

.wpcf7-submit {
    display: block;
    margin: 0 auto;
    width: 200px;
    padding: 15px 0;
    background-color: $main-color;
    color: $base-color;
    font-size: 1.4rem;
    border: solid 1px $main-color;
    @include media-pc {
        transition: all ease-in-out 0.3s;
        &:hover {
            background-color: $base-color;
            color: $main-color;
        }
    }
}